* {
    margin: 0;
    padding: 0;
}

.body-colors {
    background-color: black;
    color: #fcff02;
}

h1, h2, h3, h4, h5 {
    font-family: 'Alfa Slab One', cursive;
    color: #fcff02;;
}

p {
    font-family: 'Lato', sans-serif;
}

h3 {
    font-style: italic;
}

.ars-primaryimage {
    z-index: 1;
}
.ars-imageoverlay {
    position: absolute;
    top: 500px;
    left: 200px;
    z-index: 2;
}

.ars-button {
    font-size: 2em;
    color: yellow;
}

.ars-bio {
    line-height: 1em;
}

#biographyContainer {
    margin-bottom: 80px;
}

#albumContainer {
    margin-bottom: 80px;
}

/* FLIP CARD CSS INFO BELOW FROM HERE: https://www.w3schools.com/howto/howto_css_flip_card.asp
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 3px solid grey;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 0 auto;
  }
  
  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color:grey;
    color: white;
    transform: rotateY(180deg);
  }

.de-h1 {
    margin-top: 50px;
    text-decoration: underline;
}

.de-card {
    margin: auto;
    width: 363px;
}

.de-image {
    width: 360px;
    height: 360px;
    margin: auto;
}

.de-card-divider {
    margin: 45px 0;
}

.de-card-container {
    margin: 0 auto;
    padding: 5px;
}

.de-song-list {
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    color: #fcff02;
}

.de-song-print {
    margin-top: 25px;
}

.de-song-print h2 {
    text-decoration: underline;
}

hr.card-lines {
    border: 1px solid gray;
    width: 95%;
}

.de-h1 {
    margin-top: 50px;
    text-decoration: underline;
}

.de-card {
    margin: auto;
    width: 363px;
}

.de-image {
    width: 360px;
    height: 360px;
    margin: auto;
}

.de-card-divider {
    margin: 45px 0;
}

.de-card-container {
    margin: 0 auto;
    padding: 5px;
}

.de-song-list {
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    color: #fcff02;
}

.de-song-print {
    margin-top: 25px;
}

.de-song-print h2 {
    text-decoration: underline;
}

[id='546873431995'] {
    background: url(https://images.pexels.com/photos/2747893/pexels-photo-2747893.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: 300px;
    background-size: cover;
    width: 360px;
    height: 360px;
}

[id='546873431995']:hover {
    filter: brightness(130%);
}

[id='469870952000'] {
    background: url(https://images.pexels.com/photos/2514316/pexels-photo-2514316.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: 300px;
    background-size: cover;
    width: 360px;
    height: 360px;
}

[id='469870952000']:hover {
    filter: brightness(130%);
}

[id='563423332006'] {
    background: url(https://images.pexels.com/photos/2150/sky-space-dark-galaxy.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: 300px;
    background-size: cover;
    width: 360px;
    height: 360px;
}

[id='563423332006']:hover {
    filter: brightness(130%);
}

[id='445534222005'] {
    background: url(https://images.pexels.com/photos/913215/pexels-photo-913215.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-size: 300px;
    background-size: cover;
    width: 360px;
    height: 360px;
}

[id='445534222005']:hover {
    filter: brightness(130%);
}

[id='556476542003'] {
    background: url(https://images.pexels.com/photos/627667/pexels-photo-627667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: 300px;
    background-size: cover;
    width: 360px;
    height: 360px;
}

[id='556476542003']:hover {
    filter: brightness(130%);
}

[id='445665432008'] {
    background: url(https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: 300px;
    background-size: cover;
    width: 360px;
    height: 360px;
}

[id='445665432008']:hover {
    filter: brightness(130%);
}

/*----------------------------------------------------------------------------------- nav */


.nav-link {
    color: #fcff02;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    /* padding-left: 10%; */
    width: 100%;
}

.nav-item {
    font-family: 'Alfa Slab One', cursive;
    color: #fcff02;
}

/*----------------------------------------------------------------------------------- hero*/
#hero img {
    width: 100%;
}

#fan img {
    width: 100%;
}

#disc img {
    width: 100%;
}

#bio img {

    width: 100%;
}

#merch img {

    width: 100%;
}

#tour-dates {
    margin-bottom: 80px;
}

#tour-dates p {
    color: white;

}

/* -----------------------------------------------------------------footer */
#footer {
    color: #fcff02;
    background-color: black;
    margin-top: 20px;
}

.social {
    color: #fcff02;
    font-size: 40px;
}
