.body-colors {
    background-color: black;
    /* color: white; */
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Alfa Slab One', cursive;
    color: #fcff02;;
}

p {
    font-family: 'Lato', sans-serif;
    
}

hr.card-lines {
    border: 1px solid gray;
    width: 95%;
}


/*----------------------------------------------------------------------------------- nav */


.nav-link {
    color: #fcff02;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    /* padding-left: 10%; */
    width: 100%;
}

.nav-item {
    font-family: 'Alfa Slab One', cursive;
    color: #fcff02;
}

/*----------------------------------------------------------------------------------- hero*/
#hero img {
    width: 100%;
}

#fan img {
    width: 100%;
}

#disc img {
    width: 100%;
}

#bio img {

    width: 100%;
}

#merch img {

    width: 100%;
}

#tour-dates {
    margin-bottom: 80px;
}

#tour-dates p {
    color: white;

}

/* -----------------------------------------------------------------footer */
#footer {
    color: #fcff02;
    background-color: black;
    margin-top: 20px;
}

.social {
    color: #fcff02;
    font-size: 40px;
}